.side__bar {
    width: 200px;
    .social__numbers {
        display: flex;
        justify-content: flex-start;
        gap: 12px;
        margin-bottom: 12px;
        span {
            color: rgb(107, 107, 107);
        }
        p {
            color: black;
        }
    }
    .achievement {
        p {
            font-weight: 500;
            padding: 20px 0;
            font-size: 18px;
            color: black;
        }
        img {
            padding-right: 10px;
        }
    }
}
