.papers {
    > div:nth-of-type(1) {
        box-shadow: 0 4px 2px -2px lightgray;
        background-color: white;
        > div {
            padding: 0px 200px;
            > button {
                background: none;
                border: none;
                color: #7c7d8c;
                font-weight: 500;
                font-size: 16px;
                width: 135px;
                height: 54px;
                cursor: pointer;
                &.active {
                    color: $dark-bg;
                    border-bottom: 2px solid $dark-bg;
                }
            }
        }
    }
    > div:nth-of-type(2) {
        display: flex;
        padding: 30px 0px;
        > div:nth-of-type(2) {
            flex: 1;
            > div {
                margin-bottom: 10px;
            }
            > p {
                margin-bottom: 20px;
                font-weight: 500;
                font-size: 16px;
                line-height: 16px;
                letter-spacing: 0.04em;
                text-transform: uppercase;
                color: #131416;
            }
        }
    }
}
