.hero {
    position: relative;
    background-color: $dark-bg;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    color: white;
    > div {
        text-align: center;
        padding: 120px 0px;

        > p {
            &:nth-of-type(1) {
                font-size: 28px;
            }
            &:nth-of-type(2) {
                font-weight: 300;
                font-size: 18px;
                line-height: 20px;
                margin: 30px 0px;
                margin-bottom: 70px;
                max-width: 650px;
            }
        }
        h1 {
            font-size: 62px;
            font-weight: 400;
            max-width: 650px;
            text-align: center;
            margin: 0px auto;
            letter-spacing: 1px;
        }
        form {
            display: flex;
            background-color: white;
            max-width: 500px;
            margin: 20px auto;
            border: 1px solid #ffffff;
            box-sizing: border-box;
            border-radius: 5px;
            padding: 5px 5px;
            > input {
                flex: 1;
                outline: none;
                border: none;
                padding-left: 10px;
            }
            > button {
                @include button-basic(99px, 40px, $theme-color, "white");
                color: white !important;
                font-size: 14px !important;
            }
        }
    }
    .graph__stats {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 110px;
        height: 257px;
        top: 50%;
        transform: translateY(-50%);
        right: 0px;
        background: #24272c;
        border-radius: 5px;
        .graph__stats__body {
            height: 257px;
            span {
                font-weight: 500;
                font-size: 11px;
                text-align: center;
                text-transform: uppercase;
                color: #ffffff;
                opacity: 0.8;
            }
            > div {
                margin: 15px 0px;
            }
            h5 {
                font-weight: 500;
                font-size: 20px;
                text-align: center;
                color: #ffffff;
            }
        }
    }
}
