.paper__header {
    background: $dark-bg;
    height: 380px;
    color: #fff;
    .container {
        .paper__header__wrapper {
            height: 380px;
            position: relative;
            .text {
                padding-top: 50px;
                font-weight: 500;
                font-size: 16px;
                letter-spacing: 0.004em;
                opacity: 0.7;
            }
            h1 {
                margin: 20px 0;
                font-weight: normal;
                font-size: 42px;
            }
            .text-info {
                margin-top: 20px;
                font-weight: 500;
                font-size: 16px;
                letter-spacing: 0.004em;
                opacity: 0.7;
            }
            .version {
                color: #fff;
                margin-top: 26px;
                a {
                    text-decoration: none;
                    color: $theme-color;
                }
            }
            .header__bottom__wrapper {
                .header__links__wrapper {
                    position: absolute;
                    @include positionCenter;
                    gap: 10px;
                    bottom: 0;
                    transform: translateY(16px);
                    left: 0;
                    .header__links {
                        @include positionCenter;
                        width: 32px;
                        height: 32px;
                        left: 135px;
                        top: 427px;
                        background: #ffffff;
                        box-shadow: 20px 18px 80px rgba(75, 81, 114, 0.16);
                        border-radius: 50%;
                        transition: 0.3s ease;
                        &:hover {
                            transform: translateY(-3px);
                            box-shadow: 20px 18px 80px rgba(75, 81, 114, 0.66);
                            cursor: pointer;
                        }
                    }
                    .header__language {
                        @include positionCenter;
                        width: 88px;
                        height: 30px;
                        background: #ffffff;
                        box-shadow: 20px 18px 80px rgba(75, 81, 114, 0.16);
                        border-radius: 8px;
                        color: #000;
                        position: relative;
                        &:hover {
                            cursor: pointer;
                        }
                        img {
                            margin-left: 2px;
                            margin-bottom: 0.05rem;
                        }
                        p {
                            font-size: 12px;
                        }
                        .language__list {
                            @include positionCenter;
                            position: absolute;
                            top: 105%;
                            width: 88px;
                            height: 51px;
                            background: #ffffff;
                            box-shadow: 20px 18px 80px rgba(75, 81, 114, 0.16);
                            border-radius: 8px;

                            ul {
                                width: 100%;
                                text-align: center;
                                li {
                                    list-style: none;
                                    font-size: 12px;
                                    padding: 5px 0;
                                    border-radius: 8px;
                                    &:hover {
                                        background-color: rgb(241, 241, 241);

                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
