@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    @include breakpoints-down(large) {
        max-width: 93%;
    }
}
