@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");

html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0px;
    margin: 0px;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Inter", sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
    @include breakpoints-down(x-large) {
        max-width: 70%;
    }
    @include breakpoints-down(large) {
        max-width: 85%;
    }
    @include breakpoints-down(medium) {
        max-width: 90%;
    }
}
a {
    text-decoration: none;
    color: inherit;
}
