//640px, 1024px, 1400px
$breakpoints-up: (
    "medium": "40em",
    "large": "64em",
    "x-large": "87.5em",
);

//40px 639px 1023px 1399px
$breakpoints-down: (
    "x-small": "375px",
    "small": "475px",
    "medium": "768px",
    "large": "1024px",
    "x-large": "1440px",
    "special": "1320px",
);

@mixin breakpoints-up($size) {
    @media (min-width: map-get($breakpoints-up, $size)) {
        @content;
    }
}
@mixin breakpoints-down($size) {
    @media (max-width: map-get($breakpoints-down, $size)) {
        @content;
    }
}

//button basic

@mixin button-basic($wid, $hei, $bg, $color) {
    background: $bg;
    outline: none;
    cursor: pointer;
    width: $wid;
    height: $hei;
    border: 1px solid rgba(182, 142, 92, 0.5);
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    color: $color;
    transition: all 0.2s;
    font-family: "Inter";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    &:hover {
        transform: translateY(-3px);
    }
}
@mixin positionCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin info {
    max-width: 385px;
    margin-bottom: 32px;

    & > h2 {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
        color: $dark-bg;
        min-height: 48px;
    }
    & > p {
        font-size: 16px;
        line-height: 160%;
        color: #7c7d8c;
        padding: 14px 0;
    }
}
