//640px, 1024px, 1400px
$breakpoints-up: (
    "medium": "40em",
    "large": "64em",
    "x-large": "87.5em",
);

//639px 1023px 1399px
$breakpoints-down: (
    "x-small": "25em",
    "small": "39.9375em",
    "medium": "64em",
    "large": "87.4375em",
    "special": "50.625em",
);

@mixin breakpoints-up($size) {
    @media (min-width: map-get($breakpoints-up, $size)) {
        @content;
    }
}
@mixin breakpoints-down($size) {
    @media (max-width: map-get($breakpoints-down, $size)) {
        @content;
    }
}

//button basic

@mixin button-basic($wid, $hei, $bg, $color) {
    background: $bg;
    outline: none;
    cursor: pointer;
    width: $wid;
    height: $hei;
    border: 1px solid rgba(182, 142, 92, 0.5);
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    color: $color;
    &:hover {
        transition: all 0.3s ease-in-out;
        transform: translateY(-3px);
    }
}
