@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap");
html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  padding: 0px;
  margin: 0px;
}

body {
  padding: 0px;
  margin: 0px;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 93%;
  }
}

.nav {
  background-color: #131416;
}

.nav > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0px;
}

.nav > div > button {
  background: none;
  outline: none;
  cursor: pointer;
  width: 172px;
  height: 54px;
  border: 1px solid rgba(182, 142, 92, 0.5);
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  color: #b68e5c;
}

.nav > div > button:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.nav > div > button:hover {
  background-color: #b68e5c !important;
  color: white !important;
}

.footer {
  background-color: #131416;
  margin-top: 100px;
}

.footer__top {
  position: relative;
  padding-bottom: 200px;
}

.footer__top > img {
  position: absolute;
  width: 1000px;
  top: 50px;
  right: 0px;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__top > div {
  padding: 100px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  color: white;
}

.footer__left h2 {
  font-weight: bold;
  font-size: 64px;
  line-height: 74px;
}

.footer__left p {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  /* or 160% */
  letter-spacing: 0.004em;
  color: #ffffff;
  opacity: 0.8;
  max-width: 580px;
  margin-top: 36px;
  margin-bottom: 20px;
}

.footer__left button {
  background: #b68e5c;
  outline: none;
  cursor: pointer;
  width: 180px;
  height: 54px;
  border: 1px solid rgba(182, 142, 92, 0.5);
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.footer__left button:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.footer__left button:nth-of-type(2) {
  background: none;
  margin-left: 20px;
}

.footer__bottom {
  color: white;
  background: #0d0e0f;
  padding: 70px 0px;
}

.footer__bottom > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__bottom > div > div a {
  margin: 0px 10px;
  background: #b68e5c;
  width: 43px;
  height: 43px;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
}

.footer__bottom > div > div a > img {
  width: 19.65px;
  height: 15.96px;
}

.footer__bottom small {
  opacity: 0.7;
}

.hero {
  position: relative;
  background-color: #131416;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

.hero > div {
  text-align: center;
  padding: 120px 0px;
}

.hero > div > p:nth-of-type(1) {
  font-size: 28px;
}

.hero > div > p:nth-of-type(2) {
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  margin: 30px 0px;
  margin-bottom: 70px;
  max-width: 650px;
}

.hero > div h1 {
  font-size: 62px;
  font-weight: 400;
  max-width: 650px;
  text-align: center;
  margin: 0px auto;
  letter-spacing: 1px;
}

.hero > div form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  max-width: 500px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  padding: 5px 5px;
  margin: 0px auto;
}

.hero > div form > img {
  margin-left: 5px;
}

.hero > div form > input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  outline: none;
  border: none;
  padding-left: 10px;
}

.hero > div form > button {
  background: #b68e5c;
  outline: none;
  cursor: pointer;
  width: 99px;
  height: 40px;
  border: 1px solid rgba(182, 142, 92, 0.5);
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  color: white;
  font-size: 14px !important;
}

.hero > div form > button:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.hero .graph__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 110px;
  height: 257px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0px;
  background: #24272c;
  border-radius: 5px;
}

.hero .graph__stats .graph__stats__body span {
  font-weight: 500;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  opacity: 0.8;
}

.hero .graph__stats .graph__stats__body > div {
  margin: 10px 0px;
}

.hero .graph__stats .graph__stats__body h5 {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

.hero .search__box {
  margin: 20px auto;
}

.hero .search__result {
  background-color: white;
  width: 100%;
  max-height: 400px;
  position: relative;
  top: -3px;
  border-radius: 0px 0px 10px 10px;
  max-width: 500px;
  margin: 0px auto;
  color: black;
  padding: 10px !important;
  z-index: 999;
  overflow-y: auto;
}

.hero .search__result > a {
  border-top: 1px solid lightgray;
  text-decoration: none;
  padding: 10px 0px;
}

.hero .search__result > a > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px;
  padding: 10px 0px;
  border-bottom: 1px solid #f3ede4;
}

.hero .search__result > a > div > div:nth-of-type(1) {
  width: 40px;
  height: 40px;
  background: #151515;
  border-radius: 50%;
}

.hero .search__result > a > div > div:nth-of-type(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  margin-left: 10px;
}

.hero .search__result > a > div > div:nth-of-type(2) p {
  font-weight: 700;
  color: #131416;
}

.hero .search__result > a > div > div:nth-of-type(2) small {
  color: #a6a6a6;
}

.hero .search__result > a > div > a {
  background: #131416;
  outline: none;
  cursor: pointer;
  width: 99px;
  height: 30px;
  border: 1px solid rgba(182, 142, 92, 0.5);
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  padding-top: 4px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
}

.hero .search__result > a > div > a:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

.paper {
  max-height: 500px;
}

.paper > div {
  position: relative;
  top: -100px;
}

.paper > div img {
  width: 100%;
}

.feature > div {
  padding-bottom: 50px;
}

.feature > div > p {
  font-size: 18px;
  text-align: center;
  color: #000000;
  opacity: 0.7;
  max-width: 820px;
  margin: 0px auto;
}

.feature > div > p::before {
  content: "Rosetta ";
  font-weight: 700;
  font-size: 20px;
}

.feature__bottom > div:nth-of-type(1) {
  text-align: center;
}

.feature__bottom > div:nth-of-type(1) > p {
  color: #000000;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
}

.feature__bottom > div:nth-of-type(1) > p:nth-of-type(2) {
  opacity: 0.7;
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 28px;
}

.feature__bottom > div:nth-of-type(1) > p:nth-of-type(3) {
  opacity: 0.7;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  max-width: 650px;
  margin: 0px auto;
}

.feature__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

@media (max-width: 768px) {
  .feature__grid {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.feature__grid > div:nth-of-type(1) {
  padding: 80px 0px;
}

@media (max-width: 768px) {
  .feature__grid > div:nth-of-type(1) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.feature__grid > div:nth-of-type(1) > div {
  margin-bottom: 50px;
  max-width: 460px;
}

.feature__grid > div:nth-of-type(1) > div > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.004em;
  color: #000000;
  opacity: 0.7;
  margin-bottom: 14px;
}

.feature__grid > div:nth-of-type(1) > div > span > img {
  margin-right: 7px;
}

.feature__grid > div:nth-of-type(1) > div > p {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.004em;
  color: #000000;
}

.feature__grid > div:nth-of-type(1) > button {
  background: #b68e5c;
  outline: none;
  cursor: pointer;
  width: 276px;
  height: 54px;
  border: 1px solid rgba(182, 142, 92, 0.5);
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  color: "white";
  color: white;
}

.feature__grid > div:nth-of-type(1) > button:hover {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

@media (max-width: 768px) {
  .feature__grid > div:nth-of-type(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 1024px) {
  .feature__grid > div:nth-of-type(2) img {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .feature__grid > div:nth-of-type(2) img {
    width: 70%;
  }
}

.works > div:nth-of-type(1) {
  text-align: center;
}

.works > div:nth-of-type(1) > p {
  color: #000000;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
}

.works > div:nth-of-type(1) > p:nth-of-type(2) {
  opacity: 0.7;
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 28px;
}

.works > div:nth-of-type(1) > p:nth-of-type(3) {
  opacity: 0.7;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  max-width: 650px;
  margin: 0px auto;
}

.works__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  padding: 80px 0px;
  gap: 40px;
}

@media (max-width: 768px) {
  .works__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.works__grid > div > div {
  min-height: 130px;
}

.works__grid > div p {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.004em;
  opacity: 0.7;
}

.works__grid > div p:nth-of-type(1) {
  font-weight: 500;
  margin-bottom: 20px;
}

.programmable > div:nth-of-type(1) {
  text-align: center;
}

.programmable > div:nth-of-type(1) > p {
  color: #000000;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
}

.programmable > div:nth-of-type(1) > p:nth-of-type(2) {
  opacity: 0.7;
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 28px;
}

.programmable > div:nth-of-type(1) > p:nth-of-type(3) {
  opacity: 0.7;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  max-width: 650px;
  margin: 0px auto;
}

.programmable__grid {
  max-height: 700px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
}

.programmable__grid > div:nth-of-type(1) img {
  position: relative;
  left: -100px;
}

.programmable__grid > div:nth-of-type(2) {
  margin-top: 120px;
}

.programmable__grid > div:nth-of-type(2) > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
}

.programmable__grid > div:nth-of-type(2) > p > span {
  opacity: 0.7;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  /* or 160% */
  letter-spacing: 0.004em;
  color: #000000;
}

.programmable__grid > div:nth-of-type(2) > p > img {
  margin-right: 10px;
}

.discovery > div:nth-of-type(1) {
  text-align: center;
}

.discovery > div:nth-of-type(1) > p {
  color: #000000;
  font-weight: 500;
  font-size: 35px;
  line-height: 50px;
}

.discovery > div:nth-of-type(1) > p:nth-of-type(2) {
  opacity: 0.7;
  font-weight: 300;
  font-size: 35px;
  margin-bottom: 28px;
}

.discovery > div:nth-of-type(1) > p:nth-of-type(3) {
  opacity: 0.7;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  max-width: 650px;
  margin: 0px auto;
}

.discovery__grid {
  max-height: 700px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  margin: 50px 0px;
}

.discovery__grid > div:nth-of-type(1) > p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0px;
}

.discovery__grid > div:nth-of-type(1) > p > span {
  opacity: 0.7;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  /* or 160% */
  letter-spacing: 0.004em;
  color: #000000;
}

.discovery__grid > div:nth-of-type(1) > p > img {
  margin-right: 10px;
}

.discovery__grid > div:nth-of-type(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 16px;
}

.discovery__grid > div:nth-of-type(2) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 376px;
  height: 94px;
  background: #FFFFFF;
  -webkit-box-shadow: 20px 60px 80px rgba(118, 118, 118, 0.1);
          box-shadow: 20px 60px 80px rgba(118, 118, 118, 0.1);
  border-radius: 5px;
}

.discovery__grid > div:nth-of-type(2) > div span {
  display: block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #000000;
  margin: 0 12px 0 24px;
}

.discovery__grid > div:nth-of-type(2) > div p:nth-of-type(1) {
  font-weight: 600;
  margin-bottom: 10px;
}

.profileBody {
  background-color: #24272c;
  min-height: 100vh;
  color: white;
  padding: 30px 0px;
}

.profileBody > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profileBody > div > div:nth-of-type(2) {
  background-color: #131416;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100vh;
  padding: 24px;
  border-radius: 8px;
  margin-left: 30px;
}

.side__bar {
  width: 370px;
  height: 100%;
  padding-bottom: 30px;
  border-radius: 8px;
  background-color: #131416;
}

.side__bar .upper__grid {
  position: relative;
  height: 130px;
  background-color: #b68e5c;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.side__bar .upper__grid .profile__img {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -50px;
  background: #24272c;
  border: 1px solid #b68e5c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50px;
}

.side__bar .profile__info {
  margin: 74px 24px 0 25px;
}

.side__bar .profile__info > h3 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 12px;
}

.side__bar .profile__info span {
  font-size: 14px;
  color: #b68e5c;
}

.side__bar .profile__info > p {
  color: #7F8082;
  font-size: 14px;
}

.side__bar .profile__info > p:nth-of-type(2) {
  font-size: 14px;
  line-height: 22px;
}

.side__bar .profile__info .amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-bottom: 24px;
}

.side__bar .profile__info .amount > p {
  font-size: 14px;
  line-height: 14px;
  color: #EFEFEF;
  margin-right: 10px;
}

.side__bar .profile__info .amount .claim-btn {
  color: #b68e5c;
  background-color: #24272c;
  padding: 9px 17px;
  border-radius: 8px;
  cursor: pointer;
}

.side__bar .profile__info .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}

.side__bar .profile__info .btn-group > p {
  font-size: 14px;
  color: #131416;
  background-color: #b68e5c;
  padding: 15px 32px;
  border-radius: 8px;
  margin-right: 10px;
}

.side__bar .profile__info .btn-group > p:nth-of-type(2) {
  color: #b68e5c;
  background-color: #131416;
  border: 1px solid #b68e5c;
  padding: 15px 37px;
}

.side__bar .profile__info .icon__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.side__bar .profile__info .icon__group .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #24272c;
  border: 1px solid #594E41;
}

.side__bar .profile__info .icon__group > p {
  margin-right: 16px;
  font-weight: 500;
  font-size: 14px;
}

.side__bar .profile__info .achievement {
  margin-top: 30px;
}

.side__bar .profile__info .achievement > h5 {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}

.side__bar .profile__info .achievement .content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
}

.side__bar .profile__info .achievement .content__wrapper .content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.side__bar .profile__info .achievement .content__wrapper .content__body > div {
  padding: 16px 26px 22px 26px;
  background-color: #24272c;
  border-radius: 8px;
}

.side__bar .profile__info .achievement .content__wrapper .content__body > div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.side__bar .profile__info .achievement .content__wrapper .content__body > div div .content {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #131416;
  margin-bottom: 11px;
}

.side__bar .profile__info .achievement .content__wrapper .content__body > div > p {
  color: #fff;
  font-weight: normal;
  font-size: 14px;
}

.overview {
  color: #efefef;
}

.overview > div {
  margin-bottom: 30px;
}

.overview > div > p {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #efefef;
}

.overview > div:nth-of-type(1) {
  border-bottom: 1px solid #27292d;
}

.overview > div:nth-of-type(1) > button {
  background: none;
  border: none;
  color: #c1a27a;
  font-weight: 500;
  font-size: 16px;
  width: 135px;
  height: 54px;
  cursor: pointer;
}

.overview > div:nth-of-type(1) > button.active {
  background: #24272c !important;
  border-bottom: 1px solid #b68e5c;
  border-radius: 8px 8px 0px 0px;
}

.profile__card {
  background: #24272c;
  border-radius: 8px;
  padding: 16px;
  margin-top: 16px;
}

.profile__popular__papers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  gap: 16px;
  color: #efefef;
}

.profile__popular__papers > div {
  background: #1d1e22;
  border-radius: 8px;
  padding: 18px;
}

.profile__popular__papers > div > div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile__popular__papers > div > div:nth-of-type(1) > span {
  margin-left: 10px;
}

.profile__popular__papers > div > div:nth-of-type(2) {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 15px;
}

.profile__popular__papers > div > div:nth-of-type(2) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #24272c;
  padding: 8px;
  border-radius: 8px;
}

.profile__popular__papers > div > div:nth-of-type(2) > div > span {
  margin-left: 10px;
  color: #c1a27a;
}

.papers > div:nth-of-type(1) {
  border-bottom: 1px solid #27292d;
}

.papers > div:nth-of-type(1) > button {
  background: none;
  border: none;
  color: #c1a27a;
  font-weight: 500;
  font-size: 16px;
  width: 135px;
  height: 54px;
  cursor: pointer;
}

.papers > div:nth-of-type(1) > button.active {
  background: #24272c !important;
  border-bottom: 1px solid #b68e5c;
  border-radius: 8px 8px 0px 0px;
}

.papers > div:nth-of-type(2) {
  background-color: #24272c;
  padding: 10px;
  border-radius: 8px;
  margin: 20px 0px;
}

.papers > div:nth-of-type(2) > div {
  background-color: #131416;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.papers > div:nth-of-type(2) > div > div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.papers > div:nth-of-type(2) > div > div:nth-of-type(1) > div {
  margin-left: 10px;
}

.papers > div:nth-of-type(2) > div > div:nth-of-type(1) > div > p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.papers > div:nth-of-type(2) > div > div:nth-of-type(1) > div > p:nth-of-type(1) {
  color: #efefef;
  margin-bottom: 10px;
}

.papers > div:nth-of-type(2) > div > div:nth-of-type(1) > div > p:nth-of-type(2) {
  color: #67696d;
  font-size: 14px;
  line-height: 22px;
}

.papers > div:nth-of-type(2) > div > div:nth-of-type(2) {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 20px;
  gap: 10px;
}

.papers > div:nth-of-type(2) > div > div:nth-of-type(2) > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #24272c;
  padding: 8px;
  border-radius: 8px;
}

.papers > div:nth-of-type(2) > div > div:nth-of-type(2) > div > span {
  margin-left: 10px;
  color: #c1a27a;
}

.sponsors {
  margin-top: 30px;
}

.sponsors h3 {
  font-weight: 500;
  font-size: 16px;
}

.sponsors .content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sponsors .content__wrapper .content {
  width: 42.54px;
  height: 42.54px;
  background: #24272c;
  margin-top: 24px;
  border-radius: 83.4197px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=App.css.map */