.paper {
    max-height: 500px;
    > div {
        position: relative;
        top: -100px;
        @include breakpoints-down(medium) {
            top: -30px;
        }
        img {
            width: 100%;
        }
    }
}
