.profileBody {
    min-height: 100vh;
    color: white;
    background: #e5e5e5;

    > div {
        > div:nth-of-type(2) {
            min-height: 100vh;
        }
    }
}
.data__loader {
    display: grid;
    place-items: center;
    height: 100vh;
}
