.spread {
    h2 {
        max-width: 840px;
        margin: 0px auto;
        font-size: 48px;
        @include breakpoints-down(small) {
            font-size: 36px;
        }
    }
    &__body {
        padding: 130px 0px;
        @include breakpoints-down(medium) {
            padding: 50px 0px;
        }
        > p {
            &:nth-of-type(1) {
                text-align: center;
                font-style: normal;
                font-weight: 300;
                font-size: 48px;
                @include breakpoints-down(small) {
                    font-size: 36px;
                }
                line-height: 120%;
                /* or 58px */

                text-align: center;
            }
        }
        > div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            @include breakpoints-down(medium) {
                grid-template-columns: 1fr;
                text-align: center;
            }
            row-gap: 30px;
            column-gap: 20px;
            margin-top: 54px;
            p {
                &:nth-of-type(1) {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 120%;
                    min-height: 40px;
                    /* identical to box height, or 24px */

                    /* Primary Color 03/Chinese Black 100% :: 131416 */

                    color: #131416;
                }
                &:nth-of-type(2) {
                    max-width: 490px;
                    @include breakpoints-down(medium) {
                        max-width: 100%;
                    }
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 160%;
                    color: #5a5b5c;
                }
            }
        }
    }
}
