.discovery {
    > div:nth-of-type(1) {
        text-align: center;

        > p {
            color: #000000;
            font-weight: 500;
            font-size: 35px;
            line-height: 50px;
            &:nth-of-type(2) {
                opacity: 0.7;
                font-weight: 300;
                font-size: 35px;
                margin-bottom: 28px;
            }
            &:nth-of-type(3) {
                opacity: 0.7;
                font-weight: 300;
                font-size: 16px;
                line-height: 26px;
                max-width: 650px;
                margin: 0px auto;
            }
        }
    }
    &__grid {
        max-height: 700px;
        display: grid;
        grid-template-columns: 50% 50%;
        margin: 50px 0px;
        > div:nth-of-type(1) {
            > p {
                display: flex;
                align-items: center;
                margin: 20px 0px;
                > span {
                    opacity: 0.7;
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 26px;
                    /* or 160% */

                    letter-spacing: 0.004em;

                    color: #000000;
                }
                > img {
                    margin-right: 10px;
                }
            }
        }
        > div:nth-of-type(2){
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 16px;
            
            > div{
                display: flex;
                align-items: center;
                width: 376px;
                height: 94px;
                background: #FFFFFF;
                box-shadow: 20px 60px 80px rgba(118, 118, 118, 0.1);
                border-radius: 5px;
                span{
                    display: block;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    background-color: #000000;
                    margin:0 12px 0 24px;
                }
                p:nth-of-type(1){
                    font-weight: 600;
                    margin-bottom: 10px;
                }
             
            }
        }
    }
}
